# otca
#
# Copyright (c) 2015 Karol Babioch <karol@babioch.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

default_md              = sha256
distinguished_name      = otca_dn
wd                      = .

[ otca_dn ]

[ otca_ca ]
new_certs_dir           = $wd/certs
database                = $wd/database
serial                  = $wd/serial
policy                  = otca_policy

[ otca_policy ]
CN = supplied

[ otca_ext_ca ]
basicConstraints        = critical, CA:TRUE, pathlen:0
keyUsage                = keyCertSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer

[ otca_ext_server ]
basicConstraints        = critical, CA:FALSE
keyUsage                = digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer

[ otca_ext_client ]
basicConstraints        = critical, CA:FALSE
keyUsage                = digitalSignature, keyAgreement
extendedKeyUsage        = clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer

