# Global
default_md              = sha256
distinguished_name      = otca_dn
dir                     = .

[ req ]

[ ca ]

[ otca_dn ]

[ otca_ca ]
new_certs_dir           = $dir
database                = $dir/database
serial                  = $dir/serial
policy                  = otca_ca_policy

[ otca_ca_ext ]
basicConstraints        = critical, CA:TRUE, pathlen:0
keyUsage                = keyCertSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer

[ otca_ca_policy ]
CN = supplied

[ otca_server ]

[ otca_client ]

